button {
    background-color: #1E293B;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #0F172A;
    color: #ffffff;
}

h1 {
    background-color: #024442;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="text"], input[type="number"] {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 30px;
}

select {
    background-color: #fffffe;
    padding: 10px;
    border-radius: 30px;
}